body {
  font-family: Times New Roman;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: rgba(60, 60, 60, 0.3);
  margin: 100;
  padding: 30px;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  color: #333333; 
  color: black;
  padding: 20px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
  color: #333333; 
  color: black;
}
p {
  font-size: 16px;
  margin: 10px;
  color: #333333;
  padding: 10px;
  text-align: justify;
}
.movie {
	background-color:black;
	color: white;
	margin: 10px;
	padding: 0px;
	text-align: center;
	font-size: 40px;
}
#title {
	font-size: 50px;
	font-weight: bold;
	margin: auto;
	color: #333333;
	background-color: black; 
	color: white;
	padding: 40px;
	border: 15px solid white;
	outline-style: outset;
	text-align: center;
	text-transform: uppercase;
}
